.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 800px;
    border-radius: 10px;
    background: blue;
    font-size: 1rem;
    min-width: 200px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 white;
    transform: scale(1.2);
    transform: transform 100ms;
}
.choice-prefix {
    padding: 1rem 1rem;
    color: white;
}

.choice-text {
    padding: 1rem;
    width: 100%
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

#question {
    width: 800px;
    padding-bottom: 40px;

}

#tracking {
    display: flex;
    justify-content: space-between;
}

.displayScore {
    text-align: center;
    font-size: 1.2rem;
}

.scorePoint {
    text-align: center;
}

#progressBar{
    width: 200px;
    height: 50px;
    border: 0.2rem solid lime;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: lime;
    width: 0%;
    
}

@media screen and (max-width: 768px) {
    .game {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        max-width: 300px;
    }

    #hud {
        width: 300px;
        padding-top: 10px;
        
    }

    .scorePoint {
        margin: 0;
        position: fixed;
        top: 40px;
        right: 20px;
    }

    .displayScore {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    #question {
        width: 800px;
        padding-bottom: 15px;
        padding-top: 10px;
    }

    #progressBar{
        width: 200px;
        height: 50px;
        border: 0.2rem solid lime;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 50px;
        overflow: hidden;
    }

}